langchain==0.0.271
PyPDF2==3.0.1
pyperclip==1.8.2
python-dotenv==1.0.0
streamlit
altair<5
wikipedia
google-api-python-client
duckduckgo-search
openai
tiktoken
pdf2image
pytesseract
unstructured
chromadb
qdrant-client